<nav class="bg-[#3778C2] text-white p-1 flex justify-center items-center">
  <ul class="flex justify-between items-center gap-5 mr-2 mt-2">
    <li class="text-3xl">
      <%= link_to categories_path, class: "text-white" do %>
        <i class="fa fa-arrow-left"></i>
      <% end %>
    </li>
    <li>
      <h2 class="font-bold text-xl pt-3">Category Details</h2>
    </li>
    <li class="font-bold text-4xl">
      <%= button_to destroy_user_session_path, method: :delete do %>   
        <i class="fa fa-sign-out"></i>
      <% end %>
    </li>
  </ul>
</nav>

<%= render @category %>

<div class="mx-48 grid place-items-center">
  <div class="flex flex-col">
    <h1>Transactions</h1>
    <div id="records">
      <% @category.records.each do |record| %>
        <div class="flex">
          <p><%= record.name %></p>
          <p><%= record.amount %></p>
        </div>
      <% end %>
    </div>
  </div>
<div>




<%= link_to "New record", new_category_record_path(@category) %>

<div>
  <%= button_to "Delete", @category, method: :delete %>
</div>
